<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Dashboard</title>
</head>

<style>
    .logout-btn {
        background-color: black;
        color: white;
        padding: 15px 25px 15px 25px;
        border-radius: 8px;
        margin-right: 20px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        font-size: 17px;
    }

    .logout-btn:hover {
        transform: scale(1.1);
    }
</style>

<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <h1 style="color: green;">Successfully Logged In</h1>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 10px;">
        <strong style="font-size: 24px; margin-bottom: 8px;">Name: </strong>
        <p style="font-size: 20px; text-decoration: none; margin-top: 5px; margin-bottom: 16px;">
            <%= name %>
        </p>
        <strong style="font-size: 24px; margin-bottom: 8px;">Email: </strong>
        <p style="font-size: 20px; text-decoration: none; margin-top: 5px; margin-bottom: 16px;">
            <%= email %>
        </p>
        <strong style="font-size: 24px; margin-bottom: 8px;">Provider: </strong>
        <p style="font-size: 20px; text-decoration: none; margin-top: 5px; margin-bottom: 16px;">
            <%= provider %>
        </p>
        <strong style="font-size: 24px; margin-bottom: 8px;">Pic: </strong>
        <% if (pic) { %>
            <img src="<%= pic %>" width="100" height="100" alt="<%= name %>'s picture" />
            <% } else { %>
                <p style="font-size: 20px; text-decoration: none; margin-top: 5px; margin-bottom: 16px;">
                    No picture available
                </p>
                <% } %>
    </div>
    <a class="logout-btn" href="/auth/facebook/logout">Logout</a>
</body>

</html>